@import url('https://fonts.googleapis.com/css2?family=Comic-sanss:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: 'Comic Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: turquoise;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

h1{
    color: white;
    position: relative;
}

img{
    position: absolute;   
}

@media(min-width: 1800px){
    img{
        display: none;
    }
}

@media(max-width: 814px){
    img{
        display: none;
    }
}

@media(max-width: 1799px){
    img{
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
    }
}