body{
    margin: 0;
    text-align: center;
}

h1{
    width: 100%;
    margin-top: 0;
    position: relative;
    
}

html{
    margin-top: 0px;
}

body{
    margin: 0;
}
.top-container{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: darkturquoise;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    top: 50px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}